.display {
    background-color: #7c7ce2;
    text-align: right;
    padding: 20px;
    border: black solid 3px;
    font-size: xxx-large;
}

.keys {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: black solid 3px;
    border-top: none;
}

button {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: black solid 1px;
    font-size: x-large;
}

.equals {
    grid-row: span 4;
    background-color: #c72d2d;
    font-size: xxx-large;
}

.operator {
    font-size: xx-large;
    background-color: gray;
}

.calculator {
    width: 400px; /* Set a fixed width */
    min-width: 400px; /* Set a minimum width */
    margin: 0 auto; /* Center the calculator on the page */
    background-color: #f5f5f5; /* Set background color */
    border: 3px solid #ccc; /* Add a border */
    border-radius: 10px; /* Add border radius for rounded corners */
    padding: 20px; /* Add padding */
}